html{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}
#navigation{
    position: absolute;
    top: 15px;
    right: 15px;
}

#navigation a{
    text-decoration: none;
    margin: 3px;
}

#navigation a:visited{
    color: black;
}

#navigation a:hover{
    text-decoration: underline;
}

h1{
    font-size: 100px;
    margin: 0;
    margin-bottom: 30px;
}

#title{
    position: relative;
}
.subtext {
    position: absolute;
    top: 52%;
    right: 0px;
    font-size: 22px;
    font-family: 'Merriweather', serif;
    color: #4285f4;
  }

form{
    display: grid;
}

#searchbar {
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    padding: 13px;
    height: min-content;
    width: 50vw;
}
#searchbar img{
    width: 15px;
    height: 15px;
    margin: 4px;
}

#searchbar input{
    border: none;
    outline: none;
    margin-left: 3px;
    font-size: x-large;
    width: 80%;
}

#buttons{
    justify-self: center;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

#buttons input{
    padding: 10px;
    margin: 15px 5px 10px 5px;
    font-size: larger;
}